RESILIO_ACCEPT_TERMS=false
RESILIO_WEBUI_USER=artemis-relay
RESILIO_WEBUI_PASSWORD=
RESILIO_IDENTITY=Artemis Relay Docker
RESILIO_SHARE_LINK=
RESILIO_SYNC_PATH=/mnt/mounted_folders/Artemis Dialogue Server
RESILIO_MONITOR_INTERVAL_SECONDS=30
